<h2>Sign in</h2>

<div data-controller="sign-in" >
  <%= form_with(scope: resource_name, url: users_verify_first_factor_creds_path, data: { "sign-in-target": "firstFactorForm" }) do |f| %>
    <div class="mb-3">
      <%= f.label :first_factor_email, "Email", class: "form-label" %>
      <%= f.email_field :first_factor_email, autofocus: true, autocomplete: "email", class: "form-control", data: { "sign-in-target": "firstFactorFormEmail" }  %>
    </div>

    <div class="mb-3">
      <%= f.label :first_factor_password, "Password", class: "form-label" %>
      <%= f.password_field :first_factor_password, autocomplete: "current-password", class: "form-control", data: { "sign-in-target": "firstFactorFormPassword" } %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :first_factor_remember_me, class: "form-check-input" %>
        <%= f.label :first_factor_remember_me, "Remember me", class: "form-check-label", data: { "sign-in-target": "firstFactorFormRememberMe" }  %>
      </div>
    <% end %>

    <%= f.button "Log in", type: "button", class: "btn btn-primary", data: { action: "click->sign-in#submitFirstFactor" } %>
  <% end %>

  <%=
    form_for(resource,
      as: resource_name,
      url: session_path(resource_name),
      html: { class: "d-none" },
      data: { "sign-in-target": "secondFactorForm" }
    ) do |f| %>
      <%= f.hidden_field :email, data: { "sign-in-target": "secondFactorFormEmail" } %>
      <%= f.hidden_field :password, data: { "sign-in-target": "secondFactorFormPassword" } %>
      <%= f.hidden_field :remember_me, data: { "sign-in-target": "secondFactorFormRememberMe" } %>

    <div class="mb-3">
      <%= f.label :otp_attempt, "2FA (Two Factor Auth) code", class: "form-label" %>
      <%
      # Input must be wide enough to show a backup code as well as the usual 6 digit code.
      # For security it shouldn't be exactly the same width as the backup code
      # because attackers could use it as a (fairly weak) signal to determine how
      # long the backup codes are which helps in brute forcing
      %>
      <%= f.text_field :otp_attempt, class: "form-control" %>

      <div class="my-3">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What is two-factor authentication?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Two-factor authentication (2FA) is a way of adding security to your account, and preventing people from accessing your account - even if they have access to your email and password.
                </p>
                <p>
                  You'll need an app on your phone or a similar device that can generate a 6-digit "One Time Password" for you each time you sign in. We also recommend generating backup codes, which can each be used once to access your account if you aren't able to use an authenticator app.
                </p>
                <p>
                  If you do think someone has access to your email and password, please <a href="mailto:TODO">contact us</a> immediately.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <%= f.submit "Log in", class: "btn btn-primary", data: { turbo: false } %>
  <% end %>

  <div class="footer-links" data-sign-in-target="footerLinks">
    <%= render "users/shared/links" %>
  </div>
</div>
